@import "./utils.scss";
@import "./filter-settings.scss";

// ( ͡° ͜ʖ ͡°) filter
@include filter(re,nsfw);

// Night mode filter
@include filter(nm,nightmode);

// Flair filter
.side .md {
	a[href="https://goo.gl/tSIBOE"] {
		background: $flair-small;
		@include flair-box;
	}

	a[href="https://goo.gl/EEM8fz"] {
		background: $flair-medium;
		@include flair-box;
	}

	a[href="https://goo.gl/q2Q9sb"] {
		background: $flair-large;
		@include flair-box;
	}

	a[href="https://goo.gl/sfwFhU"] {
		background: $flair-xlarge;
		@include flair-box;
	}

	a[href*="#none"] {
		font-size: 10px;
	}
}