@import "./filter-settings.scss";
@import "./hacky-nightmode-settings.scss";

@if ($support-hacky-nightmode) {

//body.res-nightmode,
:lang(nm) body {
	color: $col-nm !important;
	background-color: $body-back-nm;
}

//.res-nightmode,
:lang(nm) {
	.content a,
	.tagline a,
	.search-result-meta a,
	.md a {
		color: #58b3ff;
	}

	.link {
		border-bottom: 1px solid $body-back-nm !important;
	}

	.link .parent:before,
	.content > .modtools > span:first-of-type:before {
		@include sub-node-disc($card-back-nm);
	}

	&.listing-page .content[role="main"],
	.content > .modtools {
		border-color: $card-back-nm !important;
	}

	.infobar.listingsignupbar:before {
		background: $card-back-nm;
	}

	.thing.link.res-selected .parent:before {
		@include sub-node-disc($pop-back-slightly-darker-nm,true);
	}

	.content[role=main],
	.flat-list li a,
	.flat-list:before,
	#header-bottom-right:hover #new_modmail ~ * > *,
	body:not(.loggedin) #header-bottom-right:hover .user ~ * > *,
	.c-btn-primary
	/*.sr-bar a,
	#RESSubredditGroupDropdown ul a,
	#RESShortcutsEditContainer,
	#RESShortcutsEditContainer *,
	.side .sidecontentbox .title h1,
	.side *,
	.side *:before,
	.side *:after,
	.side .md > blockquote:first-child,
	.roundfield,
	.linefield,
	.md,
	#editShortcutDialog,
	#RESShortcutsAddFormContainer,
	.RESDropdownList,
	.dropdown.lightdrop .selected,
	.res-commentNavToggle,
	.RESMacroDropdownTitle,
	.comment .flat-list li a,
	.expand:before,
	.comment .flat-list:before,
	.gold-accent.comment-visits-box,
	.thing.visited .title,
	.thing .title:visited,
	.thing.visited .source-url,
	#RESStyleSheetTipPane,
	.delete_sr_img-button .togglebutton:before,
	.RESCloseButton:not(.RESFadeButton):before,
	.guiders_x_button:before,
	#search_hidemore:before,
	.listingsignupbar__close:before,
	.modal-header-close:before,*/{
		color: $col-nm;
	}

	*,
	.side *,
	*:before,
	*:after {
		color: inherit;
	}

	.listing-page .content[role=main],
	#RESSubredditGroupDropdown > .RESShortcutsEditButtons .res-icon,
	.redditname:after,
	label,
	.infobar,
	.info-notice,
	.submit_text,
	.tabmenu li a,
	.stylesheet-customize-container > form > h2,
	.create-reddit:before,
	.wiki-page-content > .md:first-child > h1,
	.flair-settings h1:before,
	.flair,
	.linkflairlabel,
	body.mod-toolbox .tb-general-button,
	body.mod-toolbox .tb-action-button:not(select),
	body.mod-toolbox .tb-action-button.inline-button,
	.pretty-button, .RESSubscriptionButton,
	.reported-stamp,
	.title-button,
	.tb-bracket-button,
	.author-tooltip__credentials-list strong,
	.side h6 + blockquote:hover > p:before,
	.side h6 + blockquote:hover > ul:before  {
		color: $col-nm !important;
	}

	.link .entry,
	.link .entry .buttons li a {
		color: $col-darker-nm;
	}

	#sr-header-area a.RESShortcutsCurrentSub,
	#RESSubredditGroupDropdown .RESShortcutsCurrentSub a {
		color: $highlight-col-nm !important;
	}

	/*.pretty-form textarea,
	.pretty-form input[type=password],
	.pretty-form input[type=number],
	input[type=url],
	input[type=text],
	input[type=number],
	input[type=password],
	input:not([type]),
	.image-upload-drop-target,
	textarea,
	select,
	.linkinfo,
	.link .usertext-body .md,
	.side h6 + blockquote:hover > p:before,
	.side h6 + blockquote:hover > ul:before {
		color: $col-nm !important;
		border: none !important;
	}*/

	.image-upload-drop-target,
	input:not([type=checkbox]),
	.link .usertext-body .md,
	.linkinfo,
	select,
	textarea {
		border: none !important;
	}

	#editShortcutDialog:after,
	#RESShortcutsAddFormContainer:after {
		box-shadow: inset 0 -41px 0 $pop-back-nm, 2px 2px 2px rgba(0, 0, 0, 0.1)
	}

	.side .flairtoggle + .tagline .author {
		border-left: 1px solid $card-back-nm;
		box-shadow: -10px 0 $pop-back-nm;
	}

	.usertext.cloneable {
		border: none;
	}

	.user:hover a {
		color: $header-overlay-text-col;
	}

	.RESHoverInfoCard {
		&:before {
			border-color: transparent $pop-back-slightly-darker-nm;
		}

		&:after {
			border-color: transparent $pop-back-nm;
		}
	}

	.hover-bubble.anchor-right:before {
		border-left-color: $body-back-nm;
	}

	.hover-bubble.anchor-right:after {
		border-left-color: $card-back-nm;
	}

	.hover-bubble.anchor-top:after {
		border-bottom-color: $card-back-nm;
	}

	.thing.visited .title,
	.thing .title:visited {
		color: #88d1ff;
	}

	/*.author-tooltip.hover-bubble.anchor-top-left.author-tooltip_common,
	.author-tooltip.hover-bubble.anchor-top-right.author-tooltip_common {
		&:before {
			border-bottom-color: $pop-back-nm;
		}

		&:after {
			border-bottom-color: $card-back-nm;
		}
	}

	.hover-bubble.anchor-bottom-left {
		&:before {
			border-top-color: $pop-back-slightly-darker-nm;
		}

		&:after {
			border-top-color: $pop-back-nm;
		}
	}*/
}

}