@import "./utils.scss";
@import "./sprite-settings.scss";
@import "./palette-settings.scss";
@import "./hacky-nightmode-settings.scss";

// Absolutely sized images
#header-img-a,
#header-img.default-header,
.beta-hint a,
#RESAccountSwitcherIcon,
#RESAccountSwitcherDropdown:after,
#mail,
#chat,
#modmail,
#new_modmail,
#header-bottom-right ul li:before {
	@include set-size($image-width,$image-height,true);
	background-image: url($sprite-url) !important;
	background-repeat: no-repeat;
}

// Special case: upper right config icon
#header-bottom-right ul li:after {
	background-size: get-sprite-size($image-width,$image-height), get-palette-size();
	background-image: url($sprite-url), url($palette-url);
	background-repeat: no-repeat;

	$coord: get-map-rect($p-config-alt,$offs-header-icons);
	background-position-x: nth($coord,1), get-block("card");
	background-position-y: nth($coord,2), 0;
}

// Relatively sized images
.arrow,
.leavemoderator a:before,
.flairselectbtn:before,
:not(#openRESPrefs) > .gearIcon,
span[class^="gilded-"]:before {
	background-image: url($sprite-url) !important;
	background-repeat: repeat !important;
}

#header-img-a,
#header-img.default-header {
	@include map-rect($p-logo,$offs-logo);
}

.beta-hint a {
	@include map-rect($p-beta,$offs-header-icons);
}

#RESAccountSwitcherIcon {
	@include map-rect($p-switch,$offs-header-icons);
}

#RESAccountSwitcherDropdown:after {
	@include map-rect($p-switch-alt,$offs-header-icons);
}

#mail.nohavemail,
#mail.havemail {
	@include map-rect($p-mail,$offs-header-icons);
}

#chat,
#chat.active {
	@include map-rect($p-chat,$offs-header-icons);
}

#modmail.nohavemail,
#modmail.havemail {
	@include map-rect($p-modmail,$offs-header-icons);
}

#new_modmail.nohavemail,
#new_modmail.havemail {
	@include map-rect($p-new-modmail,$offs-header-icons);
}

#header-bottom-right ul li:before {
	@include map-rect($p-config,$offs-header-icons);
}

.leavemoderator a:before,
.flairselectbtn:before {
	box-shadow: none !important;
	@include set-size-rel(30,30);
	@include map-rect-rel($rect-30sq,$p-misc-pen,$offs-misc);
}

.gearIcon {
	@include set-size-rel(30,30);
	@include map-rect-rel($rect-30sq,$p-misc-config,$offs-misc);
}

/*.expando-button:after {
	@include set-size-rel(30,30);
	@include map-rect-rel($rect-30sq,$p-expando-expand,$offs-expando);

	.thing.over18 & {
		@include map-rect-rel($rect-30sq,$p-expando-expand-xxx,$offs-expando);
	}
}

.expando-button.expanded:after {
	@include map-rect-rel($rect-30sq,$p-expando-collapse,$offs-expando);

	.thing.over18 & {
		@include map-rect-rel($rect-30sq,$p-expando-collapse-xxx,$offs-expando);
	}
}*/

.arrow {
	@include set-size-rel(30,30);
	
	&.up {
		@include map-rect-rel($rect-30sq,$p-arrow-up,$offs-arrows);
	}

	&.upmod {
		@include map-rect-rel($rect-30sq,$p-arrow-upmod,$offs-arrows);
	}

	&.down {
		@include map-rect-rel($rect-30sq,$p-arrow-down,$offs-arrows);
	}

	&.downmod {
		@include map-rect-rel($rect-30sq,$p-arrow-downmod,$offs-arrows);
	}
}

span[class^="gilded-"]:before {
	@include set-size-rel(30,30);
}

.gilded-gid1-icon:before {
	@include map-rect-rel($rect-30sq,$p-awards-silver,$offs-awards);
}

.gilded-gid2-icon:before {
	@include map-rect-rel($rect-30sq,$p-awards-gold,$offs-awards);
}

.gilded-gid3-icon:before {
	@include map-rect-rel($rect-30sq,$p-awards-platinum,$offs-awards);
}

@include if-nm {
	#RESAccountSwitcherDropdown:after {
		@include map-rect($p-switch,$offs-header-icons);
	}
}